/*Este es el bloque de css que se va a usar para dar estilos al texto*/

/* Este espacio modifica el texto de los divs que son el artículo central */
.articuloCentral h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.articuloCentral p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: justify;

}

.articuloCentral a {
    color: #111010;
    text-decoration: solid;
    font-weight: bolder;

}

/***************************************************/

/* Este espacio modifica el texto dentro del formulario */
.tituloFormulario {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
    padding-left: 20px;
}

/***************************************************/

/* Este espacio modifica el texto dentro de las citas */
.textoCita {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: small;
    color: #111010;
}

.textoCita a {
    color: #111010;
    text-decoration: underline;
}

.articuloCentral .textoCita {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: small;
    color: #111010;
}

.articuloCentral .textoCita a {
    color: #111010;
    text-decoration: underline;
}

/***************************************************/

/* Este es el bloque de css que se va a usar para dar estilos a los contenedores */

/* En este espacio se modifica todo lo relacionado con el footer */
footer {
    text-align: center;
    color: white;
    background-color: #333;
    position: static;
    padding: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/***************************************************/

/* En este espacio se modifica todo lo relacionado con el header y la barra de navegación */
header {
    background-color: #111010;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: auto;
    height: fit-content;
    width: fit-content;
    border: 1px solid red;
    padding: 10px 15px;
}

.navegacion {
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: inline-block;
    border: 1px solid red;
    padding: 10px 15px;
}

.navegacion ul {
    list-style: none;
}

.navegacion ul li {
    display: inline;
    margin: 0 10px;
}

.navegacion ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/***************************************************/

/* En este espacio se modifican los contenedores dentro del body referentes a contenido */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    margin-top: 50px;
    padding: 20px;
}

.britonDiv {
    padding: 10px 15px;
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
}

.fotoDer {
    margin-left: 5%;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid red;
    padding: 10px 15px;
    height: 100%;
    width: 100%;


}

.seccionFormulario {
    margin-top: 5%;
}

.articuloCentral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;

}

.mainCentrado {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuerpoArticulo {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 90%;
    border: 1px solid red;
    padding: 10px 15px;
    display: flex;


}

.textoIzq {
    margin: auto;
    height: fit-content;
    width: fit-content;
    border: 1px solid red;
    padding: 10px 15px;

}

/***************************************************/

/*Este es el bloque de css que se va a usar para dar estilos a las imágenes y a los contenedores de las imágenes*/
.britonNeedsYou {
    width: 100%;
    height: 100%;

}

.logoHeader {
    width: 40%;
    height: 40%;
    margin: auto;
}

.fotoDer img {
    height: 100%;
    width: 100%;
}


/***************************************************/

/*Este es el bloque de css que se va a usar para dar estilos a los formularios*/
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

form label {
    display: block;
    margin: 5px 0 5px;
}

form input,
form textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form select {
    width: 20%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkbox {
    width: auto;
    /* No ocupar el 100% del ancho */
    margin: 0 10px 0 0;
    /* Reducir márgenes */
    display: inline-block;
    /* Permitir que esté en línea */
}

.label-checkbox {
    display: inline;
    margin: 0;
}

.botonFormulario {
    width: 30%;
    background-color: #2e77e4;
    color: white;
    border: none;
    cursor: pointer;
    margin: 30px auto auto auto;
    display: block;
}

.botonFormulario:hover {
    background-color: #45a049;
}

/***************************************************/


/* Este bloque de css se va a usar para dar estilos a las tablas */

.cuerpoArticulo table {
    width: 100%;
    border-collapse: collapse;
}


.cuerpoArticulo table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.cuerpoArticulo table caption {
    font-weight: bold;
    margin-bottom: 10px;
}


