/*Este es el bloque de css que se va a usar para dar estilos al texto*/

/* Este espacio modifica el texto de los divs que son el artículo central */
.articuloCentral h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.articuloCentral p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: justify;

}

.articuloCentral a {
    color: #111010;
    text-decoration: solid;
    font-weight: bolder;

}

/***************************************************/


/* Este espacio modifica el texto dentro de las citas */
.textoCita {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: small;
    color: #111010;
}

.textoCita a {
    color: #111010;
    text-decoration: underline;
}

.articuloCentral .textoCita {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: small;
    color: #111010;
}

.articuloCentral .textoCita a {
    color: #111010;
    text-decoration: underline;
}

/***************************************************/

/* Este es el bloque de css que se va a usar para dar estilos a los contenedores */




/* En este espacio se modifican los contenedores dentro del body referentes a contenido */


/* Este es el contenedor de la imagen del formulario */


/* Estos son los contenedores de las imágenes que hay en los artículos */
.fotoDer {
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 15px;
    border: 1px solid red;
    padding: 10px 15px;
    height: 100%;
    width: 100%;

}

.fotoIzq {
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 15px;
    border: 1px solid red;
    padding: 10px 15px;
    height: 100%;
    width: 100%;

}



.articuloCentral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.articuloCentral a {
    text-decoration: underline;
    color: #003483;
}

.articuloInicial {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.articuloInicial .tituloArticulos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #080707;
}



.cuerpoIndex {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 90%;
    border: 1px solid red;
    padding: 10px 15px;
}

.cuerpoIndex a {
    text-decoration: none;
    color: #333;
}

.cuerpoArticulo {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 90%;
    border: 1px solid red;
    padding: 10px 15px;
    display: flex;
}

.cuerpoArticulo .h3Centrado {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: x-large;
}

.cuerpoArticulo .tituloPagina {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
    color: rgb(77, 75, 75);

    height: fit-content;
    width: fit-content;
    border: 1px solid red;
    padding: 10px 15px;
}

.textoIzq {
    margin: auto;
    height: fit-content;
    width: fit-content;
    border: 1px solid red;
    padding: 10px 15px;
}



.textoCent {
    margin: auto;
    height: fit-content;
    width: fit-content;
    border: 1px solid red;
    padding: 10px 15px;
}

.textoCent .h2Centrado {
    text-align: center;
}

.textoCent .h3Centrado {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: x-large;
}

/***************************************************/

/*Este es el bloque de css que se va a usar para dar estilos a las imágenes y a los contenedores de las imágenes*/
.fotoDer img {
    height: 100%;
    width: 100%;
}

.fotoIzq img {
    height: 100%;
    width: 100%;
}


/***************************************************/




/***************************************************/


/* Este bloque de css se va a usar para dar estilos a las tablas */

.cuerpoArticulo table {
    width: 100%;
    border-collapse: collapse;
}


.cuerpoArticulo table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.cuerpoArticulo table caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.cuerpoArticulo table ol {
    list-style: none;
}










/* ##################################################################### */
/* #############        MODIFICADORES GENÉRICOS     #################### */
/* ##################################################################### */


/* -----------------------       HEADER      --------------------------- */
/* ********************************************************************* */

/* En este espacio se modifica todo lo relacionado con el header y la barra de navegación */
header {
    background-color: #111010;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* -------------------       Logo Header         ----------------------- */
/* ---------------       .logo / .logoHeader       --------------------- */
/* ********************************************************************* */

/* Esta es la clase que modifica el logo de la barra de navegación */
.logo {
    margin: auto;
    height: fit-content;
    width: fit-content;
    border: 1px solid red;
    padding: 10px 15px;
}

/* Esta clase modifica las propiedades DE LA IMAGEN del logo en la barra de navegación */
.logoHeader {
    width: 40%;
    height: 40%;
    margin: auto;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* ----------------        Botones Navegación      --------------------- */
/* ---------------------       .navegacion      ------------------------ */
/* ********************************************************************* */

/* Esta clase modifica cómo actúa el DIV de navegación: fuente, márgenes, cómo se coloca */
.navegacion {
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: inline-block;
    border: 1px solid red;
    padding: 10px 15px;
}

/* Estas modificaciones afectan dentro del DIV a la LISTA NO ORDENADA y a la etiqueta A: quitar decoraciones y estilos, colocación */
.navegacion ul {
    list-style: none;
}

.navegacion ul li {
    display: inline;
    margin: 0 10px;
}

.navegacion ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* ------------------------       BODY      ---------------------------- */
/* ********************************************************************* */

/* En este espacio se modifica todo lo relacionado con la etiqueta body. Se modifica la fuente usada,
márgenes que va a tener y el color de fondo del body */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* ------------------------       MAIN      ---------------------------- */
/* --------------   .mainCentrado / .mainPrincipal    ------------------ */
/* ********************************************************************* */

/* En este espacio se modifica todo lo relacionado con la etiqueta main. Incluye 2 clases que se usan 
en la página index.html que es .mainPrincipal. Después el .mainCentrado se usa en el resto de páginas .html
menos en enlist_form.html */


main {
    margin-top: 50px;
    padding: 20px;
}


/* Esta clase permite que el main esté centrado en una página que va a tener distintos tipos de contenido dentro
y que su disposición pueda ser flexible entre los bloques interiores */
.mainCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Esta clase sólo se utiliza en index.html para colocar sus elementos fijos en el centro del main */
.mainPrincipal {
    display: block;
    justify-content: center;
    align-content: center;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* -----------------------       FOOTER      --------------------------- */
/* ********************************************************************* */

/* En este espacio se modifica todo lo relacionado con el footer */

footer {
    text-align: center;
    color: white;
    background-color: #333;
    position: static;
    padding: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */








/* ##################################################################### */
/* ########################        ÍNDEX      ########################## */
/* ##################################################################### */











/* ##################################################################### */
/* ##################        ENLIST_FORM.HTML      ##################### */
/* ##################################################################### */

/* En este bloque va todo lo relacionado con la página enlist_form.html */


/* ----------------        Imagen Formulario      ---------------------- */
/* ------------------        .britonNeedsYou      ---------------------- */
/* ********************************************************************* */

/* Esta es la clase que da los atributos a la IMG que está dentro del DIV .britonDiv . Se usa para que la 
imagen ocupe su 100% pero siempre dentro del contenedor. Si esta clase no se usa la imagen no se ajusta al tamaño
del DIV .britonDiv */

.britonNeedsYou {
    width: 100%;
    height: 100%;
}

/* -------------        División Imagen Formulario      ---------------- */
/* --------------------        .britonDiv      ------------------------- */
/* ********************************************************************* */

/* Este DIV se utiliza para dar las dimensiones que va a tener la imagen de la página enlist_form.html.
Sirve para agrupar los elementos internos, centrarlos con el margin, su tamaño o el padding.
Dentro de este DIV se usan las clases .britonNeedsYou (ENLIST_FORM.HTML) y .textoCita() */
.britonDiv {
    padding: 10px 15px;
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
}


/* -----------------        Sección Formulario      -------------------- */
/* -----------------        .seccionFormulario      -------------------- */
/* ********************************************************************* */

/* Esta clase se utiliza para modificar una SECTION dentro de enlist_form.html para separarla de la parte superior  */
.seccionFormulario {
    margin-top: 5%;
}



/* ----------------------        Formulario      ----------------------- */
/*form / .checkbox / .label-checkbox / .botonFormulario / tituloFormulario*/
/* ********************************************************************* */

/*Este es el bloque de css que modifica todo lo relacionado con los FORM. Incluye modificaciones directas a las etiquetas 
<form> y clases específicas para determinadas partes del formulario como .tituloFormulario, .checkbox, .label-checkbox, 
.botonFormulario y .botonFormulario:hover  */

/* Esta clase modifica el H2 dentro del formulario cambiando el color del texto, fuente usada y padding. */
.tituloFormulario {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
    padding-left: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

form label {
    display: block;
    margin: 5px 0 5px;
}

form input,
form textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form select {
    width: 20%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Esta clase se usa para que el  INPUT TYPE="CHECKBOX" se quede alineado con el siguiente elemto y no se coloque
ni encima ni debajo.*/
.checkbox {
    width: auto;
    /* No ocupar el 100% del ancho */
    margin: 0 10px 0 0;
    /* Reducir márgenes */
    display: inline-block;
    /* Permitir que esté en línea */
}
/* Esta clase se usa para que el texto después del .checkbox vaya en línea y no se coloque ni encima ni debajo.*/
.label-checkbox {
    display: inline;
    margin: 0;
}


/* Esta clase se utiliza para dar un formato concreto al INPUT TYPE="SUBMIT" donde se modifica su ancho, color de botón, 
márgenes, color de texto. La clase .botonFormulario:hover sólo modifica el color cuando el ratón está sobre el botón.  */
.botonFormulario {
    width: 30%;
    background-color: #2e77e4;
    color: white;
    border: none;
    cursor: pointer;
    margin: 30px auto auto auto;
    display: block;
}

.botonFormulario:hover {
    background-color: #45a049;
}






